
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4>產生短網址</h4>
  </div>
  <div class="panel-body">
    <%= form_for @short_url ,  :url => short_url_index_path() , :method =>'post'  do |f| %>
        <div class="form-group">
          <%= f.label :redirect_to %>
          <%= f.url_field :redirect , autofocus: true, class: "form-control" %>
        </div>
        <%= f.submit t('.sign_up', :default => "產生短網址"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
